<div id="container">
    <div class="navbar">
        <div class="text-center">
            <h3>wymiana walut</h3>
            <h4>sprzedaż</h4>
        </div>
    </div>
    <div>
        <div class="select-wrap sale-wrap">
            <ui-select ng-model="currency"
                       ng-change="actionCtrl.selectChange(currency); actionCtrl.value = 0; actionCtrl.spanSale = 0 "
                       theme="bootstrap">
                <ui-select-match placeholder="waluta">
                    <div class="country-currency chosen">
                             <span class="image-country-wrap">
                                    <img class="flags-country" ng-src="../img/flags/{{currency}}.svg" alt="">
                             </span>
                        <span class="shortcut-country">{{currency}}</span>

                    </div>
                </ui-select-match>

                <ui-select-choices repeat="currency in actionCtrl.listCurrencies | filter: $select.search">
                    <div class="country-currency">
                             <span class="image-country-wrap">
                                    <img class="flags-country" ng-src="../img/flags/{{currency}}.svg" alt="">
                             </span>
                        <span class="shortcut-country">{{currency}}</span>

                    </div>
                </ui-select-choices>
            </ui-select>

            <div class="inp-group">
                <input min="0" type="number" ng-disabled="actionCtrl.chosenCureency" ng-model="actionCtrl.value"
                       class="form-control input-value" ng-change="actionCtrl.changeInput('sell')"
                       placeholder="Wpisz kwote">
            </div>

        </div>
        <div class="buy-sell-other-currency sell-option">
            <div class="country-currency">
                 <span class="image-country-wrap">
                    <img class="flags-country" src="../img/flags/PLN.svg" alt="">
                </span>
                <span class="shortcut-country">PLN</span>
            </div>
            <span class="actual-course">{{actionCtrl.response.data.rates[0].bid | number:2}}</span>
            <span class="actual-course" ng-show="actionCtrl.chosenCureency">wybierz walutę</span>

        </div>
        <div class="hold-wrapper">
            <span class="text">sprzedaż</span>
            <span class="buy-value">{{actionCtrl.spanSale}}</span>
        </div>
    </div>
    <div class="button-action">
        <a href="#/" class="btn-danger btn-back glyphicon glyphicon-arrow-left"></a>

        <input type="button" class="btn-success accept" value="zatwierdz" ng-click="actionCtrl.accept('sell')">
    </div>
    <div class="alert  hide" role="alert"></div>
</div>
